*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


/* Admin Login */
body{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 5rem;
}

.main{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5%;
}

.main h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color:#424242;
}

form div label{
    color:#757575;
}

form div input{
    width: 100%;
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border:0.1rem solid #757575;
}

form div input:focus{
   outline: none;
}

form .admin-login{
    width: 100%;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 0.5rem 0.3rem;
    color:white;
    border: none;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

form a{
    text-decoration: none;
}

.main p{
    color:red;
     margin-bottom: 1rem;
}


/* Dashboard */

.dashboard-body{
background-color: #F5F5F5;
}


/* User Registration */

.Registration-body 
{
    padding-top: 1rem;
}

.Registration-body form div textarea{
    width: 100%;
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border:0.1rem solid #757575;
}
.Registration-body form div select{
    width: 100%;
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border:0.1rem solid #757575;
}

.Registration-body .marital-status{
    display: flex;
    align-items: center;
}

.Registration-body .marital-status label{
   padding-right: 1rem;
}

.Registration-body .marital-status input{
    width:auto;
    margin-right: 0.5rem;
}

.Registration-body .marital-status button{
    width: 50%;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 0.5rem 0.3rem;
    color:white;
    border: none;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.Registration-body form .hobbies{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.Registration-body form .hobbies label{
    margin-right: 0.5rem;
}

.Registration-body form .hobbies button{
    width: 100%;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    color:white;
    border: none;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    margin-left:0.4rem;
}

.Registration-body .main button{
    margin-top: 0.5rem;
}

/* Family Member */

.Family-Member-body{
padding-top: 5rem;
}

.Family-Member-body .marital-status{
    display: flex;
    align-items: center;
}

.Family-Member-body .marital-status label{
   padding-right: 1rem;
}

.Family-Member-body .marital-status input{
    width:auto;
    margin-right: 0.5rem;
}

.Family-Member-body .marital-status button{
    width: 50%;
    background-color: #2196F3;
    border-radius: 5px;
    padding: 0.5rem 0.3rem;
    color:white;
    border: none;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
